/******** Header ***********/

#header{
	background-image: url('../images5/bg1.png');
	background-size: 100% 100%;
}

#header .content{
	margin-top: 7%;
	text-align: center;
	color: #fff;
}


#header .content h2{
	font-size: 48px;
	text-transform: uppercase;
}

#header .content p{
	font-size: 16px;
}

.wrap_header{
	padding: 0px;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 9%;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #ff7800;
}

/******** news_collections ***********/
.news_collections{
	margin-top: 5%;
	background-color: #140c06;
	padding-bottom: 25px;
}

.news_collections .top{
	color: #fff;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 4%;
	text-transform: uppercase;
}

.news_collections .top p.collect{
	margin-bottom: 1%;
	font-size: 14px;
}

.news_collections .top h2{
	font-size: 32px;
	margin-bottom: 0px;
}
.news_collections .top div.horizontal_line{
	width: 15%;
	height: 1px;
	background: #ff8700;
	margin: 0px auto;
	margin-top: 4%;
}

.sub_news{
	margin-bottom: 30px;
}

.sub_news .introduce{
	background-color: #000;
	color: #fff;
	padding: 4px 2%;
}

.sub_news .introduce p{
	font-size: 18px;
	margin-bottom: 0px;
}

.sub_news .introduce span{
	font-size: 10px;
}

.page-link{
	background-color: transparent;
	color: #fff;
}

li.page-item{
	margin-right: 1%;
}

.page-item.active .page-link{
	background-color: #140c06;
	border-color: #140c06;
}

/******* Footer **********/
#footer{
	margin-top: 5%;
	padding-top: 3%;
	padding-bottom: 5%;
	background-color: #2a2a2a;
}

.bg1{

}

#footer .intro{
	color: #fff;
	font-size: 12px;
}


#footer .intro img{
	margin-bottom: 3%;
}
#footer .info {
	text-align: center;
}

#footer .info p{
	font-size: 14px;
	color: #fff;
}

/******* Last_footer **********/
#last_footer{
	line-height: 20px;
	background-color: #000;
	color: #fff;
}
.copyright p{
	font-size: 9px;
}

